.App {
  display: flex;
  flex-direction: column;
  gap: 150px;
  flex-wrap: wrap;
  background-color: white;
}

.two-impo {
  background: linear-gradient(
    109.6deg,
    rgb(255, 230, 109) 11.2%,
    rgb(53, 141, 65) 100.2%
  );
}
